[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
kubernetes = "*"
dataclasses-json = "*"
PyYAML = "==6.0.1"
jinja2 = "==2.11.3"
setuptools = "*"
docker = "*"
HiYaPyCo = "*"
marshmallow = "*"
marshmallow-dataclass = "*"
wheel = "*"
nbformat = "*"
autopep8 = "*"
wget = "*"
requests = "*"
copier = "*"
sqlparse = "*"
markupsafe = "==2.0.1"
importlib_metadata = "*"
python-dateutil = "==2.8.0"

[dev-packages]
pytest = "*"
pre-commit = "2.15.0"
types-PyYAML = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.8"
