[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
kubernetes = "*"
dataclasses-json = "*"
GitPython = "*"
PyYAML = "*"
Jinja2 = "*"
setuptools = "*"
docker = "*"
HiYaPyCo = "*"
marshmallow = "*" 
marshmallow-dataclass = "*"
ipython = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
