[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
kubernetes = "*"
dataclasses-json = "*"
PyYAML = "*"
Jinja2 = "*"
setuptools = "*"
docker = "*"
HiYaPyCo = "*"
marshmallow = "*"
marshmallow-dataclass = "*"
wheel = "*"
nbformat = "*"
autopep8 = "*"
wget = "*"
requests = "*"
copier = "*"

[dev-packages]
pytest = "*"
pre-commit = "2.15.0"
types-PyYAML = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.8"
